<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hackathon </title>
    <link rel="shortcut icon" type="image/svg" href="../favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hackathon</a>
                <img src="../favicon.ico" alt="Carlos favorite icon">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <input id="color-picker" value='#276cb8' />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Hackathon - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
    <script runat="server">
        // Sample ArrayList for the page.
        ArrayList PageArrayList;

        void Test()
        {
            Console.WriteLine("Test");
        }

        ArrayList CreateArray()
        {
            // Create a sample ArrayList.
            ArrayList result = new ArrayList(4);

            result.Add("item 1");
            result.Add("item 2");
            result.Add("item 3");
            result.Add("item 4");

            return result;
        }

        void Page_Load(object sender, EventArgs e)
        {
            if (ViewState["arrayListInViewState"] != null) {
                PageArrayList = (ArrayList)ViewState["arrayListInViewState"];
            }
            else {
                // ArrayList isn't in view state, so we need to load it from scratch.
                PageArrayList = CreateArray();
            }
            // Code that uses PageArrayList.
        }

        void Page_PreRender(object sender, EventArgs e)
        {
            // Save PageArrayList before the page is rendered.
            ViewState.Add("arrayListInViewState", PageArrayList);
        }
    </script>
</body>
</html>
